#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 800px;
}
.TaskBody {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(30, 26, 141);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
